build/.cache
build/example.bit
build/example.ltx
build/example_pblock_partition_partial.bit
build/garnet_config.vh
build/hd_visual
build/post_link.dcp
build/post_route.dcp
build/post_synth.dcp
build/tight_setup_hold_pins.txt
build/timing_summary.rpt
build/usage_statistics_webtalk.html
build/usage_statistics_webtalk.xml
build/vivado*.jou
build/vivado*.log
build/.Xil
build/constraints/cl_clocks_aws.xdc
build/reports/
build/scripts/.Xil/
build/scripts/*.vivado.log
build/scripts/hd_visual/
build/scripts/last_log
verif/sim/
